.paginator {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0 3px;
    cursor: pointer;
    align-items: center;
}

.arrow {
    width: 18px;
}

.page {
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.pageActive {
    font-weight: bold;
    text-decoration: underline white;
}

@media (max-width: 1020px) {
    .arrow {
        width: 14px;
    }
}